
.repaymentTable-head,
.repaymentTable,
.assessmentTable-head,
.assessmentTable,
.expenseTable{
  width:100%;
  table-layout: fixed;
}
.table-header{
  background-color: rgba(255,255,255,0.3);
}

.table-header1{
  background-color: #841207;
  color: white;
  border-radius: 5px;
}

.button__and__image{
  display: flex;
}


.table-content{
  height:42rem;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
  text-transform: uppercase;
  font-weight: bolder;
}
.repaymentTable-head thead tr th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}

.assessmentTable-head thead tr th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}

.repaymentTable tbody tr td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: bolder;
    font-size: 12px;
    color: white;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }

.assessmentTable tbody tr td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: bolder;
  font-size: 12px;
  color: rgb(61, 61, 61);;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.expenseTable tbody tr td{
  vertical-align: middle;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  color: rgb(61, 61, 61);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}


.model__container,
.model__container1,
.model__container2{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in;
}

.model__container.appear,
.model__container1.appear,
.model__container2.appear{
  opacity: 1;
  pointer-events: auto;
}

.modal{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    height: 60%;
}

.modal1{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.modal h1{
  margin: 2rem;
}

.modal h1::after,
.modal1 h1::after,
.modal2 h1::after{
  content: " ";
  display: block;
  border-bottom: 2px solid rgb(114, 18, 18);
  background-color:#f8f8f8;
  width: 50px;
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
}

.modal2{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    width: 28%;
    height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/* CLOSE MODAL CODE */
/* The Close Button (x) */
.close {
  position: fixed;
  right: 557px;
  top: 142px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close1{
  position: fixed;
  right: 557px;
  top: 269px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close2{
  position: fixed;
  right: 583px;
  top: 72px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close1:hover,
.close1:focus,
.close2:hover,
.close2:focus {
  color: red;
  cursor: pointer;
}


.guarntor__form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guarntor__form form input{
  padding: 1rem 6rem;
  margin: 1rem;
}

/* employee display form styles */
.labelOne{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.labelOne input{
  padding: 1rem 3rem;
}

.employeeDisplaycontainer form input[type=submit]{
  margin: 1rem;
}

#formErrorContainer__profilepage,
#formSuccessContainer__profilepage
{
  position: absolute;
  top: 8rem;
  left: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 3rem 11rem;
  pointer-events: none;
  visibility: hidden;
  width: 80%;
  height: 80%;
  background-color: transparent;
}

  /* for custom scrollbar for webkit browser*/

  ::-webkit-scrollbar {
      width: 6px;
  }
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.61);
  }
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.61);
  }
